Source: dvmps
Section: misc
Priority: optional
Maintainer: Heikki Nousiainen <heikki.nousiainen@f-secure.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/dvmps.git
Vcs-Browser: https://github.f-secure.com/rd-dckul-sys/dynamic-provisioning

Package: dvmps-client
Architecture: all
Depends: python-all (>= 2.6.6)
Description: Dynamic virtual machine provisioning client
 <insert long description, indented with spaces>

Package: dvmps-server
Architecture: all
Depends: python-all (>= 2.6.6), qemu-kvm, libvirt-bin (>= 0.9.12 ), python-libvirt (>= 0.9.12 ), python-pygresql, postgresql, nginx
Recommends: vlan
Description: Dynamic virtual machine provisioning server
 <insert long description, indented with spaces>

Package: munin-dvmps-plugin
Architecture: all
Depends: dvmps-server, munin-node 
Description: Munin plugin for dvmps server 
 <insert long description, indented with spaces>

